{% extends 'flatpages/default.html' %}


{% block title %}
PostIn
{% endblock title %}

{% block content %}

<h1>{{ post_show.theme_news }}</h1>

<hr>

        <table style="margin: 0 auto">
            <tr>
                <td>Автор</td>
                <td>Дата добавления</td>
                <td>Категория</td>
                <td>Рейтинг</td>
            </tr>
            <tr>
                <td>{{ post_show.authors }}</td>
                <td>{{ post_show.date_joined|date:'dS m y' }}</td>
                <td>{{ post_show.categorys }}</td>
                <td>{{ post_show.rate_news }}</td>
            </tr>
        </table>

<hr>

<h3>{{ post_show.body_news }}</h3>

{% endblock content %}