{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block title %}
Posts
{% endblock title %}



{% block content %}
    <h1>Наши посты</h1>
    <h3> {{ time_now|date:'d m y  H:i' }}</h3>
    <h2>Количество статей на странице: {{ posts|length }}</h2>

    {% if  posts %}
        <table>
            <tr>
                <td>Автор</td>
                <td>Тема</td>
                <td>Дата добавления</td>
                <td>Категория</td>
                <td>Тема поста</td>
                <td>Пост</td>
                <td>Рейтинг</td>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.authors.user_auth }}</td>
                <td>{{ post.choice_news }}</td>
                <td>{{ post.date_joined|date:'dS m y' }}</td>
                <td>{% for category in post.categorys.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>
                <td>{{ post.theme_news }}</td>
                <td>{{ post.body_news|truncatewords:20|censor }}</td>
                <td>{{ post.rate_news }}</td>
            </tr>
                <p class="link-read-post"><a href="{% url 'post_detail' post.pk %}"> Читатьт пост</a> </p>
            {% endfor %}
        </table>
    {% else %}
        <h1>Посты отсутствуют</h1>
    {% endif %}



    {% get_elided_page_range paginator page_obj.number as page_range %}
    {% if page_obj.has_previous %}
        <a> &lt </a>
        {% if page_obj.previous_page_number != 1 %}
        {% endif %}
    {% endif %}

    {% for i in page_range %}
        {% if page_obj.number == i %}
            {{ i }}
        {% else %}
            {% if i == page_obj.paginator.ELLIPSIS %}
                {{ i }}
            {% else %}
                <a  href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a>   &gt</a>
        {% if paginator.num_page != page_obj.next_page_number %}
        {% endif %}
    {% endif %}

{% endblock content %}
